@media (min-aspect-ratio: 1/1) {
  html {
    --major-axis: 100vw;
    --minor-axis: 100vh;
  }
}

@media (max-aspect-ratio: 1/1) {
  html {
    --major-axis: 100vh;
    --minor-axis: 100vw;
  }
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.App {
  text-align: center;
  --padding: calc(0.05 * var(--minor-axis));
  padding-top: var(--padding);
  height: calc(100vh - var(--padding));
}

button {
  --margin-factor: 0.02;
  margin-left: calc(var(--margin-factor) * var(--minor-axis));
  margin-right: calc(var(--margin-factor) * var(--minor-axis));

  background-color: transparent;
  border-color: #4caf50ff;
  border-style: solid;
  color: #4caf50ff;

  width: calc(0.3 * var(--minor-axis));
  height: calc(0.1 * var(--minor-axis));
  border-radius: calc(0.01 * var(--minor-axis));
  font-size: calc(0.05 * var(--minor-axis));
}

.Settings {
  text-align: left;
  padding-left: calc(0.05 * var(--minor-axis));
  font-size: calc(0.05 * var(--minor-axis));
}

.Setting {
  display: block;
  margin-top: calc(0.05 * var(--minor-axis));
}

.Setting input {
  margin-right: calc(0.05 * var(--minor-axis));

  border-color: #767676;
  border-style: solid;
  background-color: transparent;

  /* Scale checkboxes.
     Based on https://stackoverflow.com/a/10415275/7215455
  */
  --checkbox-scale: 2;
  -ms-transform: scale(var(--checkbox-scale)); /* IE */
  -moz-transform: scale(var(--checkbox-scale)); /* FF */
  -webkit-transform: scale(var(--checkbox-scale)); /* Safari and Chrome */
  -o-transform: scale(var(--checkbox-scale)); /* Opera */
  transform: scale(var(--checkbox-scale));
}

.Setting select {
  margin-right: calc(0.05 * var(--minor-axis));
  margin-top: calc(0.03 * var(--minor-axis));

  border-color: #767676;
  outline-color: #4caf50ff;
  border-style: solid;
  background-color: transparent;

  font-size: calc(0.05 * var(--minor-axis));
  display: block;
}

.Setting--dropdown {
  border-color: #4caf50ff;
  border-style: solid;
  border-radius: calc(0.03 * var(--minor-axis));
  background-color: transparent;
  padding: calc(0.03 * var(--minor-axis));
  display: inline-block;
}

h2 {
  font-size: calc(0.1 * var(--minor-axis));
}

.CurrentNote {
  color: black;
  background-color: #d8d8d8;

  display: inline-block;
  font-size: calc(0.3 * var(--minor-axis));
  margin: calc(0.01 * var(--minor-axis));
  padding: calc(0.01 * var(--minor-axis));
  border-radius: calc(0.01 * var(--minor-axis));
}

.HistoryNote {
  color: black;
  background-color: #d8d8d8;

  display: inline-block;
  font-size: calc(0.05 * var(--minor-axis));
  margin: calc(0.01 * var(--minor-axis));
  padding: calc(0.01 * var(--minor-axis));
  border-radius: calc(0.01 * var(--minor-axis));
}

.App.LastNote {
  background-color: #c2eec2;
}
